<div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Register User</h3></div>
                    <div class="card-body">
                        <form (submit)="onSubmit()" ngNativeValidate>
                            <div class="form-group">
                                <label for="inputEmail" class="sr-only">Full Name</label>
                                <input type="text" name="username" [(ngModel)]="user.name" class="form-control" placeholder="Full Name" required minlength="2" maxlength="100">
                                <br>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="sr-only">Username</label>
                                <input type="text" name="username" [(ngModel)]="user.username" class="form-control" placeholder="Username" required minlength="2" maxlength="100">
                                <br>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="sr-only">Password</label>
                                <input type="password" name="password" [(ngModel)]="user.password" class="form-control" placeholder="Password" required minlength="8" maxlength="100">
                            </div>
                           
                            
                            
                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                <button class="btn btn-lg btn-primary btn-block" value="Register" type="submit">Register</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a routerLink="/login">Have an account? Go to login</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
