<nav *ngIf="isLoggedIn" class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">Boat-App</a>
    <form class="d-flex">
      <a class="navbar-brand">Logged in as: {{currentLoggedInUser}}</a>
      <a class="btn btn-outline-primary" (click)="logout()">Logout</a>
    </form>
  </div>
</nav>
<br>
 