<div class="row">
  <div class="col-11"></div>
    <div class="col-1">
      <div class="btn-group pull right">
          <a routerLink="/boat/edit/{{id}}" class="btn btn-dark">
            Edit
          </a>
          <button (click)="onDelete()" class="btn btn-danger">Delete</button>
      </div>
    </div>
</div>

<h2 class="card-title">Detail-View</h2>


<div class="row d-flex justify-content-center">
  <div class="col-md-2">
    <div *ngIf="boat$ | async; let boat">
      <div class="card center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{boat.name}}</h5>
          <p class="card-text">{{boat.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price: {{boat.price | currency:'CHF ' }}</li>
          <li class="list-group-item">Model: {{boat.model}}</li>
          <li class="list-group-item">Location: {{boat.location}}</li>
        </ul>
      </div>
  </div>
  <a routerLink="/" class="btn btn-link">
    <i class="fa fa-arrow-circle-o-left"></i> To Dashboard
  </a>
  </div>
</div>
<hr>




