<div class="row">
    <div class="col-md-6">
      <h2><i class="fa fa-home">Your Boats</i></h2>
    </div>
  </div>
  
  <table class="table table-stripped">
    <thead class="thead-inverse">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Location</th>
        <th>Price</th>
        <th>Model</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let boat of boats$ | async">
        <td>{{boat.name}}</td>
        <td>{{boat.description}}</td>
        <td>{{boat.location}}</td>
        <td>{{boat.price}}</td>
        <td>{{boat.model}}</td>
        <td><a [routerLink]="'/boat/detail/' + boat.id" class="btn btn-secondary btn-sm">Details</a></td>
      </tr>
    </tbody>
  </table>
  
  <a routerLink="/boat/add" class="btn btn-success btn-block">
    Add new Boat
  </a>
