<div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                    <div class="card-body">
                        <form (submit)="onSubmit()">
                            <div class="form-group">
                                <label for="inputEmail" class="sr-only">Username</label>
                                <input type="text" name="username" [(ngModel)]="username" class="form-control" placeholder="Username" required autofocus>
                                <br>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="sr-only">Password</label>
                                <input type="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Password" required>
                            </div>
                            
                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                <button class="btn btn-lg btn-primary btn-block" value="Login" type="submit">Sign in</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a routerLink="/register">Need an account? Sign up!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
