<div class="card">
    <div class="card-header">
      Edit Boat
    </div>
    <div class="card-body">
      <form #boatForm="ngForm" (ngSubmit)="onSubmit(boatForm)" ngNativeValidate>
        <div class="form-group">
          <label>Boat name</label>
          <input type="text" class="form-control" name="name" #boatName="ngModel"
          [(ngModel)]="boat.name" required minlength="2" maxlength="100">
        </div>
  
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" name="city" #boatDescription="ngModel"
            [(ngModel)]="boat.description" required minlength="2" maxlength="100">
          </div>

          <div class="form-group">
            <label>Model</label>
            <input type="text" class="form-control" name="model" #boatModel="ngModel"
            [(ngModel)]="boat.model" required minlength="2" maxlength="100">
          </div>

          <div class="form-group">
            <label>Price</label>
            <input type="number" class="form-control" name="price" #boatPrice="ngModel"
            [(ngModel)]="boat.price" ngModel required >
          </div>

          <div class="form-group">
            <label>Location</label>
            <input type="text" class="form-control" name="location" #boatLocation="ngModel"
            [(ngModel)]="boat.location" required minlength="2" maxlength="100">
          </div>
  
  
          <input type="submit" value="submit" class="btn btn-primary">
          <a routerLink="/" class="btn btn-danger btn-small"> Cancel </a>
      </form>
    </div>
  </div> 